USE [HSRDB]
GO
/****** Object:  UserDefinedFunction [dbo].[ID]    Script Date: 2024/9/10 19:24:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[ID]()
	RETURNS int
	AS
   	BEGIN
		DECLARE @ID int=1
		WHILE EXISTS(SELECT Concept FROM Relics WHERE Relics.ID=@ID AND Concept IS NOT NULL)
		BEGIN
			SET @ID=@ID+1
		END
		RETURN(@ID)
    END
GO
/****** Object:  Table [dbo].[Equipped]    Script Date: 2024/9/10 19:24:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Equipped](
	[Concept] [nvarchar](50) NOT NULL,
	[Eidolons] [int] NULL,
	[LightCone] [nvarchar](50) NULL,
	[SuperimposeLevel] [int] NULL,
	[Head] [smallint] NULL,
	[Hands] [smallint] NULL,
	[Body] [smallint] NULL,
	[Feet] [smallint] NULL,
	[PlanarSphere] [smallint] NULL,
	[LinkRope] [smallint] NULL,
	[HP] [decimal](6, 2) NOT NULL,
	[ATK] [decimal](6, 2) NOT NULL,
	[DEF] [decimal](6, 2) NOT NULL,
	[SPD] [decimal](6, 2) NOT NULL,
	[CritRate] [decimal](8, 4) NULL,
	[CritDMG] [decimal](8, 4) NULL,
	[BreakEffect] [decimal](8, 4) NULL,
	[OutgoingHealingBoost] [decimal](8, 4) NULL,
	[EnergyRegenerationRate] [decimal](8, 4) NULL,
	[EffectHitRate] [decimal](8, 4) NULL,
	[EffectRES] [decimal](8, 4) NULL,
	[HPBoost] [smallint] NULL,
	[ATKBoost] [smallint] NULL,
	[DEFBoost] [smallint] NULL,
	[SPDBoost] [smallint] NULL,
	[HPBoostPercentage] [decimal](8, 4) NULL,
	[ATKBoostPercentage] [decimal](8, 4) NULL,
	[DEFBoostPercentage] [decimal](8, 4) NULL,
	[SPDBoostPercentage] [decimal](8, 4) NULL,
	[PhysicalDMGBoost] [decimal](8, 4) NULL,
	[FireDMGBoost] [decimal](8, 4) NULL,
	[IceDMGBoost] [decimal](8, 4) NULL,
	[LightningDMGBoost] [decimal](8, 4) NULL,
	[WindDMGBoost] [decimal](8, 4) NULL,
	[QuantumDMGBoost] [decimal](8, 4) NULL,
	[ImaginaryDMGBoost] [decimal](8, 4) NULL,
	[SetCritRate] [decimal](8, 4) NULL,
	[SetCritDMG] [decimal](8, 4) NULL,
	[SetBreakEffect] [decimal](8, 4) NULL,
	[SetOutgoingHealingBoost] [decimal](8, 4) NULL,
	[SetEnergyRegenerationRate] [decimal](8, 4) NULL,
	[SetEffectHitRate] [decimal](8, 4) NULL,
	[SetEffectRES] [decimal](8, 4) NULL,
	[SetHPBoostPercentage] [decimal](8, 4) NULL,
	[SetATKBoostPercentage] [decimal](8, 4) NULL,
	[SetDEFBoostPercentage] [decimal](8, 4) NULL,
	[SetSPDBoostPercentage] [decimal](8, 4) NULL,
	[SetPhysicalDMGBoost] [decimal](8, 4) NULL,
	[SetFireDMGBoost] [decimal](8, 4) NULL,
	[SetIceDMGBoost] [decimal](8, 4) NULL,
	[SetLightningDMGBoost] [decimal](8, 4) NULL,
	[SetWindDMGBoost] [decimal](8, 4) NULL,
	[SetQuantumDMGBoost] [decimal](8, 4) NULL,
	[SetImaginaryDMGBoost] [decimal](8, 4) NULL,
 CONSTRAINT [PK__Equipped__59C2D218AC81A823] PRIMARY KEY CLUSTERED 
(
	[Concept] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[Panel]    Script Date: 2024/9/10 19:24:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[Panel](Concept,Eidolons,LightCone,SuperimposeLevel,
			HP,ATK,DEF,SPD,
			CritRate,CritDMG,
			BreakEffect,
			OutgoingHealingBoost,EnergyRegenerationRate,
			EffectHitRate,EffectRES,
			PhysicalDMGBoost,
			FireDMGBoost,
			IceDMGBoost,
			LightningDMGBoost,
			WindDMGBoost,
			QuantumDMGBoost,
			ImaginaryDMGBoost)
AS SELECT   Concept,Eidolons,LightCone,SuperimposeLevel,
			HP+HPBoost+HP*(HPBoostPercentage+SetHPBoostPercentage),
			ATK+ATKBoost+ATK*(ATKBoostPercentage+SetATKBoostPercentage),
			DEF+DEFBoost+DEF*(DEFBoostPercentage+SetDEFBoostPercentage),
			SPD+SPDBoost+SPD*(SPDBoostPercentage+SetSPDBoostPercentage),
			CritRate+SetCritRate,CritDMG+SetCritDMG,
			BreakEffect+SetBreakEffect,
			OutgoingHealingBoost+SetOutgoingHealingBoost,EnergyRegenerationRate+SetEnergyRegenerationRate,
			EffectHitRate+SetEffectHitRate,EffectRES+SetEffectRES,
			PhysicalDMGBoost+SetPhysicalDMGBoost,
			FireDMGBoost+SetFireDMGBoost,
			IceDMGBoost+SetIceDMGBoost,
			LightningDMGBoost+SetLightningDMGBoost,
			WindDMGBoost+SetWindDMGBoost,
			QuantumDMGBoost+SetQuantumDMGBoost,
			ImaginaryDMGBoost+SetImaginaryDMGBoost 
FROM Equipped;
GO
/****** Object:  Table [dbo].[Characters]    Script Date: 2024/9/10 19:24:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Characters](
	[Concept] [nvarchar](50) NOT NULL,
	[Faction] [nvarchar](50) NOT NULL,
	[Rairty] [int] NOT NULL,
	[Path] [nvarchar](20) NOT NULL,
	[Combat] [nvarchar](10) NOT NULL,
	[Level] [int] NOT NULL,
	[Eidolons] [int] NOT NULL,
	[HP] [decimal](6, 2) NOT NULL,
	[ATK] [decimal](6, 2) NOT NULL,
	[DEF] [decimal](6, 2) NOT NULL,
	[SPD] [decimal](6, 2) NOT NULL,
	[Energy] [int] NOT NULL,
	[TraceBoostPercentage1] [nvarchar](20) NOT NULL,
	[TraceBoostPercentageValue1] [decimal](8, 4) NULL,
	[TraceBoostPercentage2] [nvarchar](20) NOT NULL,
	[TraceBoostPercentageValue2] [decimal](8, 4) NULL,
	[TraceBoostPercentage3] [nvarchar](20) NOT NULL,
	[TraceBoostPercentageValue3] [decimal](8, 4) NULL,
	[TraceBoostSPDValue] [smallint] NULL,
 CONSTRAINT [PK__Characte__59C2D218C4EAF771] PRIMARY KEY CLUSTERED 
(
	[Concept] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LightCones]    Script Date: 2024/9/10 19:24:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LightCones](
	[Concept] [nvarchar](50) NOT NULL,
	[Rairty] [int] NOT NULL,
	[Path] [nvarchar](20) NOT NULL,
	[Level] [int] NOT NULL,
	[SuperimposeLevel] [int] NOT NULL,
	[HP] [decimal](6, 2) NOT NULL,
	[ATK] [decimal](6, 2) NOT NULL,
	[DEF] [decimal](6, 2) NOT NULL,
	[LCBoostPercentage1] [nvarchar](20) NULL,
	[LCBoostPercentageValue1] [decimal](8, 4) NULL,
	[LCBoostPercentage2] [nvarchar](20) NULL,
	[LCBoostPercentageValue2] [decimal](8, 4) NULL,
	[Skill] [nvarchar](500) NOT NULL,
 CONSTRAINT [PK__LightCon__59C2D2183F19EF03] PRIMARY KEY CLUSTERED 
(
	[Concept] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Relics]    Script Date: 2024/9/10 19:24:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Relics](
	[ID] [smallint] NOT NULL,
	[Concept] [nvarchar](50) NOT NULL,
	[Slot] [nvarchar](20) NOT NULL,
	[SlotName] [nvarchar](50) NOT NULL,
	[RelicLevel] [smallint] NOT NULL,
	[MainStat] [nvarchar](20) NOT NULL,
	[MSValue] [decimal](8, 4) NOT NULL,
	[SubStat_1] [nvarchar](20) NULL,
	[SSValue_1] [decimal](8, 4) NULL,
	[SubStat_2] [nvarchar](20) NULL,
	[SSValue_2] [decimal](8, 4) NULL,
	[SubStat_3] [nvarchar](20) NULL,
	[SSValue_3] [decimal](8, 4) NULL,
	[SubStat_4] [nvarchar](20) NULL,
	[SSValue_4] [decimal](8, 4) NULL,
	[Equipped] [nvarchar](50) NULL,
 CONSTRAINT [PK__Relics__3214EC27E161E6E2] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[Relics] ([ID], [Concept], [Slot], [SlotName], [RelicLevel], [MainStat], [MSValue], [SubStat_1], [SSValue_1], [SubStat_2], [SSValue_2], [SubStat_3], [SSValue_3], [SubStat_4], [SSValue_4], [Equipped]) VALUES (1, N'Musketeer of Wild Wheat', N'Head', N'Musketeer’s Wheat Hat', 20, N'HPBoost', CAST(705.6000 AS Decimal(8, 4)), N'DEFBoostPercentage', CAST(0.0432 AS Decimal(8, 4)), N'CritRate', CAST(0.1160 AS Decimal(8, 4)), N'CritDMG', CAST(0.1160 AS Decimal(8, 4)), N'BreakEffect', CAST(0.1160 AS Decimal(8, 4)), N'March 7th The Hunt')
INSERT [dbo].[Relics] ([ID], [Concept], [Slot], [SlotName], [RelicLevel], [MainStat], [MSValue], [SubStat_1], [SSValue_1], [SubStat_2], [SSValue_2], [SubStat_3], [SSValue_3], [SubStat_4], [SSValue_4], [Equipped]) VALUES (2, N'Musketeer of Wild Wheat', N'Hands', N'Musketeer''s Leather Gloves', 20, N'ATKBoost', CAST(352.8000 AS Decimal(8, 4)), N'ATKBoostPercentage', CAST(0.0770 AS Decimal(8, 4)), N'HPBoostPercentage', CAST(0.0860 AS Decimal(8, 4)), N'CritRate', CAST(0.0900 AS Decimal(8, 4)), N'CritDMG', CAST(0.0518 AS Decimal(8, 4)), N'March 7th The Hunt')
INSERT [dbo].[Relics] ([ID], [Concept], [Slot], [SlotName], [RelicLevel], [MainStat], [MSValue], [SubStat_1], [SSValue_1], [SubStat_2], [SSValue_2], [SubStat_3], [SSValue_3], [SubStat_4], [SSValue_4], [Equipped]) VALUES (3, N'Musketeer of Wild Wheat', N'Body', N'Musketeer''s Field Jacket', 20, N'CritDMG', CAST(0.6480 AS Decimal(8, 4)), N'DEFBoostPercentage', CAST(0.0540 AS Decimal(8, 4)), N'HPBoostPercentage', CAST(0.1160 AS Decimal(8, 4)), N'CritRate', CAST(0.0580 AS Decimal(8, 4)), N'EffectHitRate', CAST(0.1290 AS Decimal(8, 4)), N'March 7th The Hunt')
GO
ALTER TABLE [dbo].[Equipped] ADD  CONSTRAINT [DF_Equipped_Eidolons]  DEFAULT ((0)) FOR [Eidolons]
GO
ALTER TABLE [dbo].[Equipped] ADD  CONSTRAINT [DF_Equipped_SuperimposeLevel]  DEFAULT ((0)) FOR [SuperimposeLevel]
GO
ALTER TABLE [dbo].[Equipped] ADD  CONSTRAINT [DF_Equipped_HP]  DEFAULT ((0)) FOR [HP]
GO
ALTER TABLE [dbo].[Equipped] ADD  CONSTRAINT [DF_Equipped_ATK]  DEFAULT ((0)) FOR [ATK]
GO
ALTER TABLE [dbo].[Equipped] ADD  CONSTRAINT [DF_Equipped_DEF]  DEFAULT ((0)) FOR [DEF]
GO
ALTER TABLE [dbo].[Equipped] ADD  CONSTRAINT [DF_Equipped_SPD]  DEFAULT ((0)) FOR [SPD]
GO
ALTER TABLE [dbo].[Equipped] ADD  CONSTRAINT [DF_Equipped_CritRate]  DEFAULT ((0.05)) FOR [CritRate]
GO
ALTER TABLE [dbo].[Equipped] ADD  CONSTRAINT [DF_Equipped_CritDMG]  DEFAULT ((0.5)) FOR [CritDMG]
GO
ALTER TABLE [dbo].[Equipped] ADD  CONSTRAINT [DF_Equipped_BreakEffect]  DEFAULT ((0)) FOR [BreakEffect]
GO
ALTER TABLE [dbo].[Equipped] ADD  CONSTRAINT [DF_Equipped_OutgoingHealingBoost]  DEFAULT ((0)) FOR [OutgoingHealingBoost]
GO
ALTER TABLE [dbo].[Equipped] ADD  CONSTRAINT [DF_Equipped_EnergyRegenerationRate]  DEFAULT ((1)) FOR [EnergyRegenerationRate]
GO
ALTER TABLE [dbo].[Equipped] ADD  CONSTRAINT [DF_Equipped_EffectHitRate]  DEFAULT ((0)) FOR [EffectHitRate]
GO
ALTER TABLE [dbo].[Equipped] ADD  CONSTRAINT [DF_Equipped_EffectRES]  DEFAULT ((0)) FOR [EffectRES]
GO
ALTER TABLE [dbo].[Equipped] ADD  CONSTRAINT [DF_Equipped_HPBoost]  DEFAULT ((0)) FOR [HPBoost]
GO
ALTER TABLE [dbo].[Equipped] ADD  CONSTRAINT [DF_Equipped_ATKBoost]  DEFAULT ((0)) FOR [ATKBoost]
GO
ALTER TABLE [dbo].[Equipped] ADD  CONSTRAINT [DF_Equipped_DEFBoost]  DEFAULT ((0)) FOR [DEFBoost]
GO
ALTER TABLE [dbo].[Equipped] ADD  CONSTRAINT [DF_Equipped_SPDBoost]  DEFAULT ((0)) FOR [SPDBoost]
GO
ALTER TABLE [dbo].[Equipped] ADD  CONSTRAINT [DF_Equipped_HPBoostPercentage]  DEFAULT ((0)) FOR [HPBoostPercentage]
GO
ALTER TABLE [dbo].[Equipped] ADD  CONSTRAINT [DF_Equipped_ATKBoostPercentage]  DEFAULT ((0)) FOR [ATKBoostPercentage]
GO
ALTER TABLE [dbo].[Equipped] ADD  CONSTRAINT [DF_Equipped_DEFBoostPercentage]  DEFAULT ((0)) FOR [DEFBoostPercentage]
GO
ALTER TABLE [dbo].[Equipped] ADD  CONSTRAINT [DF_Equipped_SPDBoostPercentage]  DEFAULT ((0)) FOR [SPDBoostPercentage]
GO
ALTER TABLE [dbo].[Equipped] ADD  CONSTRAINT [DF_Equipped_PhysicalDMGBoost]  DEFAULT ((0)) FOR [PhysicalDMGBoost]
GO
ALTER TABLE [dbo].[Equipped] ADD  CONSTRAINT [DF_Equipped_FireDMGBoost]  DEFAULT ((0)) FOR [FireDMGBoost]
GO
ALTER TABLE [dbo].[Equipped] ADD  CONSTRAINT [DF_Equipped_IceDMGBoost]  DEFAULT ((0)) FOR [IceDMGBoost]
GO
ALTER TABLE [dbo].[Equipped] ADD  CONSTRAINT [DF_Equipped_LightningDMGBoost]  DEFAULT ((0)) FOR [LightningDMGBoost]
GO
ALTER TABLE [dbo].[Equipped] ADD  CONSTRAINT [DF_Equipped_WindDMGBoost]  DEFAULT ((0)) FOR [WindDMGBoost]
GO
ALTER TABLE [dbo].[Equipped] ADD  CONSTRAINT [DF_Equipped_QuantumDMGBoost]  DEFAULT ((0)) FOR [QuantumDMGBoost]
GO
ALTER TABLE [dbo].[Equipped] ADD  CONSTRAINT [DF_Equipped_ImaginaryDMGBoost]  DEFAULT ((0)) FOR [ImaginaryDMGBoost]
GO
ALTER TABLE [dbo].[Equipped] ADD  CONSTRAINT [DF_Equipped_SetCritRate]  DEFAULT ((0)) FOR [SetCritRate]
GO
ALTER TABLE [dbo].[Equipped] ADD  CONSTRAINT [DF_Equipped_SetCritDMG]  DEFAULT ((0)) FOR [SetCritDMG]
GO
ALTER TABLE [dbo].[Equipped] ADD  CONSTRAINT [DF_Equipped_SetBreakEffect]  DEFAULT ((0)) FOR [SetBreakEffect]
GO
ALTER TABLE [dbo].[Equipped] ADD  CONSTRAINT [DF_Equipped_SetOutgoingHealingBoost]  DEFAULT ((0)) FOR [SetOutgoingHealingBoost]
GO
ALTER TABLE [dbo].[Equipped] ADD  CONSTRAINT [DF_Equipped_SetEnergyRegenerationRate]  DEFAULT ((0)) FOR [SetEnergyRegenerationRate]
GO
ALTER TABLE [dbo].[Equipped] ADD  CONSTRAINT [DF_Equipped_SetEffectHitRate]  DEFAULT ((0)) FOR [SetEffectHitRate]
GO
ALTER TABLE [dbo].[Equipped] ADD  CONSTRAINT [DF_Equipped_SetEffectRES]  DEFAULT ((0)) FOR [SetEffectRES]
GO
ALTER TABLE [dbo].[Equipped] ADD  CONSTRAINT [DF_Equipped_SetHPBoostPercentage]  DEFAULT ((0)) FOR [SetHPBoostPercentage]
GO
ALTER TABLE [dbo].[Equipped] ADD  CONSTRAINT [DF_Equipped_SetATKBoostPercentage]  DEFAULT ((0)) FOR [SetATKBoostPercentage]
GO
ALTER TABLE [dbo].[Equipped] ADD  CONSTRAINT [DF_Equipped_SetDEFBoostPercentage]  DEFAULT ((0)) FOR [SetDEFBoostPercentage]
GO
ALTER TABLE [dbo].[Equipped] ADD  CONSTRAINT [DF_Equipped_SetSPDBoostPercentage]  DEFAULT ((0)) FOR [SetSPDBoostPercentage]
GO
ALTER TABLE [dbo].[Equipped] ADD  CONSTRAINT [DF_Equipped_SetPhysicalDMGBoost]  DEFAULT ((0)) FOR [SetPhysicalDMGBoost]
GO
ALTER TABLE [dbo].[Equipped] ADD  CONSTRAINT [DF_Equipped_SetFireDMGBoost]  DEFAULT ((0)) FOR [SetFireDMGBoost]
GO
ALTER TABLE [dbo].[Equipped] ADD  CONSTRAINT [DF_Equipped_SetIceDMGBoost]  DEFAULT ((0)) FOR [SetIceDMGBoost]
GO
ALTER TABLE [dbo].[Equipped] ADD  CONSTRAINT [DF_Equipped_SetLightningDMGBoost]  DEFAULT ((0)) FOR [SetLightningDMGBoost]
GO
ALTER TABLE [dbo].[Equipped] ADD  CONSTRAINT [DF_Equipped_SetWindDMGBoost]  DEFAULT ((0)) FOR [SetWindDMGBoost]
GO
ALTER TABLE [dbo].[Equipped] ADD  CONSTRAINT [DF_Equipped_SetQuantumDMGBoost]  DEFAULT ((0)) FOR [SetQuantumDMGBoost]
GO
ALTER TABLE [dbo].[Equipped] ADD  CONSTRAINT [DF_Equipped_SetImaginaryDMGBoost]  DEFAULT ((0)) FOR [SetImaginaryDMGBoost]
GO
ALTER TABLE [dbo].[Relics] ADD  CONSTRAINT [DF__Relics__ID__546C6DB3]  DEFAULT ([dbo].[ID]()) FOR [ID]
GO
ALTER TABLE [dbo].[Equipped]  WITH CHECK ADD  CONSTRAINT [FK_Equipped_Character] FOREIGN KEY([Concept])
REFERENCES [dbo].[Characters] ([Concept])
GO
ALTER TABLE [dbo].[Equipped] CHECK CONSTRAINT [FK_Equipped_Character]
GO
ALTER TABLE [dbo].[Equipped]  WITH CHECK ADD  CONSTRAINT [FK_Equipped_LightCone] FOREIGN KEY([LightCone])
REFERENCES [dbo].[LightCones] ([Concept])
GO
ALTER TABLE [dbo].[Equipped] CHECK CONSTRAINT [FK_Equipped_LightCone]
GO
ALTER TABLE [dbo].[Equipped]  WITH CHECK ADD  CONSTRAINT [FK_Equipped_Relics_Body] FOREIGN KEY([Body])
REFERENCES [dbo].[Relics] ([ID])
GO
ALTER TABLE [dbo].[Equipped] CHECK CONSTRAINT [FK_Equipped_Relics_Body]
GO
ALTER TABLE [dbo].[Equipped]  WITH CHECK ADD  CONSTRAINT [FK_Equipped_Relics_Feet] FOREIGN KEY([Feet])
REFERENCES [dbo].[Relics] ([ID])
GO
ALTER TABLE [dbo].[Equipped] CHECK CONSTRAINT [FK_Equipped_Relics_Feet]
GO
ALTER TABLE [dbo].[Equipped]  WITH CHECK ADD  CONSTRAINT [FK_Equipped_Relics_Hands] FOREIGN KEY([Hands])
REFERENCES [dbo].[Relics] ([ID])
GO
ALTER TABLE [dbo].[Equipped] CHECK CONSTRAINT [FK_Equipped_Relics_Hands]
GO
ALTER TABLE [dbo].[Equipped]  WITH CHECK ADD  CONSTRAINT [FK_Equipped_Relics_Head] FOREIGN KEY([Head])
REFERENCES [dbo].[Relics] ([ID])
GO
ALTER TABLE [dbo].[Equipped] CHECK CONSTRAINT [FK_Equipped_Relics_Head]
GO
ALTER TABLE [dbo].[Equipped]  WITH CHECK ADD  CONSTRAINT [FK_Equipped_Relics_LinkRope] FOREIGN KEY([LinkRope])
REFERENCES [dbo].[Relics] ([ID])
GO
ALTER TABLE [dbo].[Equipped] CHECK CONSTRAINT [FK_Equipped_Relics_LinkRope]
GO
ALTER TABLE [dbo].[Equipped]  WITH CHECK ADD  CONSTRAINT [FK_Equipped_Relics_PlanarSphere] FOREIGN KEY([PlanarSphere])
REFERENCES [dbo].[Relics] ([ID])
GO
ALTER TABLE [dbo].[Equipped] CHECK CONSTRAINT [FK_Equipped_Relics_PlanarSphere]
GO
